$nes-background-color: #000000; 
$nes-text-color: #ffffff;        
$nes-accent-color: #ff0000;       

$art-deco-background-color: #9dfffe;    
$art-deco-text-color: #fd9cfd;         
$art-deco-accent-color: #cccdfd;        
$art-deco-color2: #fffe9f;      
